
        /* Mobile First Design */
        

        :root
        {
            --color-primary: #F24D1E;
            --color-secondary: #00173F;
            --color-tertiary: #00173F;
            --font-primary:"Jacquarda Bastarda 9", serif;
        }

        html
        {
            scroll-behavior: smooth;
        }

        body{
            font-family: var(--font-primary);
            padding: 0;
            margin: 0;
        }
        iframe
{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    aspect-ratio: 16/9;

    display: block;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
}
.class iframe
{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    aspect-ratio: 4/3;

    display: block;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
}

        .container{
            background-color: #C2CDCB;
            max-width: 75rem;
            min-height: 10rem;
            border: 5px solid white;
            margin: auto;
            padding:1rem 3rem 1rem 3rem;
            border-radius: 35px;
            transition: all 0.6s ease;
        }
        #pageheader {
            background:linear-gradient(45deg, #003883, #F85B1A, #003883) ;
            min-height:200px;
            padding:1rem;
            padding-top: 5rem;
        }
        #bear
        {
            
            background-image: url(Images/goku.gif);
            background-repeat: no-repeat;
            background-position: center center;
            width:150px;
            height:150px;
            margin-left: 1735px;
            margin-top: 25px;
            animation: run 1.9s linear;
        }
        @keyframes run
        {
            0%{
                margin-left: -2000px;
            margin-top: 50px;
            }
            50%{
                margin-left: -1200px;
            margin-top: 10px;
            }
            100%{
                margin-left: 1700px;
            margin-top: 25px;
            }
        }
        #pagenav {
            background-color: #99ACCD;
            min-height:30px;
            padding:1rem;
            text-align: center;
        }
        #pagenav a{color: black;;
        }
        #pagenav a:hover{
            color: #fff;
            text-shadow: 10px 10px 10px #000;
            transition: 0.3s;
        }
        #logo
        {
            background-color: #013A87;
            width:150px;
            height:150px;
            border-radius: 50%;
            background-image: url(Images/gokulogo.png);
            background-size:cover;
            border:5px solid black;
            position:absolute;
            left:calc(50% - 75px);
            transition: all 2s;
            background-repeat: no-repeat;
            background-position: center center;
            animation: spin 3s infinite linear ;
        }
                @keyframes spin
        {
            100%{
                transform: rotate(1turn);
            }
        }

        #media
        {
            background-color: #6DA5DC;
            min-height:350px;
            padding:1rem;
            background-image: url(Images/mediagoku.png);
            background-size: contain;
            background-position: center top;
            transition: none;
            background-repeat: no-repeat;
        }
        #topnav
        {
            background:transparent;
            top: 0;
            position: absolute;
            min-height:30px;
            padding:.5rem;
            text-align: right;
        }
#topnav a 
{   
    color: #fff;
    padding: .5rem;
}
#topnav a:hover{
    color: #fff;
    transition: 0.3s;
    text-shadow: 10px 10px 10px black;
    transition: 0.3s;
}
        #career
        {
            background-color: #B3E1F1;
            min-height:200px;
            padding:1rem;
            transition: transform all 0.5s ease 0s ;
        }
        #career .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            transition: all 0.6s;
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #career a 
        {
            color: black;
        }
        #career a:hover
        {
            color: white;
            transition: 0.3s;
        }

        #pagecontent
        {
            background-color: var(--color-primary);
            min-height:200px;
            padding:1rem;
            transition: transform 0.5s ease 0s ;
        }
        #pagecontent .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            /* transition: 0.6s; */
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #semester1
        {
            background-color: var(--color-primary);
            min-height:200px;
            padding:1rem;
            transition: transform 0.5s ease 0s ;
        }
        #semester1 .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            /* transition: 0.6s; */
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #semester1 a 
        {
            color: black;
        }
        #semester1 a:hover
        {
            color: white;
            transition: 0.3s;
        }
        #semester2
        {
            background-color: var(--color-primary);
            min-height:200px;
            padding:1rem;
            transition: transform 0.5s ease 0s ;
        }
        #semester2 .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            /* transition: 0.6s; */
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #semester2 a 
        {
            color: black;
        }
        #semester2 a:hover
        {
            color: white;
            transition: all 0.3s;
        }
        #keyassignments
        {
            background-color:#F24D1E;
            min-height:200px;
            padding:1rem;
        }
        #keyassignments .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            /* transition: 0.6s; */
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #keyassignments a 
        {
            color: black;
        }
        #keyassignments a:hover
        {
            color: white;
            transition: 0.3s;
        }
        #pagefooter
        {
            background-color: var(--color-secondary);
            min-height:200px;
            padding:1rem;
            text-align: center;
            transition: transform 0.5s ease 0s ;
            
        }
        #pagefooter a 
        {   
            color: black;
        }
        #pagefooter a:hover 
        {
            color: white;
            transition: 0.3s;
        }
        #pagefooter .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            transition: 0.6s;
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #subfooter
        {
            background-color: var(--color-secondary);
            min-height:200px;
            padding:1rem;
            transition: transform 0.5s ease 0s ;
        }
        #subfooter .container:hover
        {
            box-shadow: 0px 10px 30px 10px #fff;
            transition: 0.6s;
            transform: translateY(-30px) skew(-6deg);
            text-shadow: 10px 10px 10px black;
        }
        #topanchor
        {
            height: 25px;
            width: 25px;
            padding: 1rem;
            border: 2px solid black;
            border-radius: 50%;
            position: fixed;
            right: 20px;
            bottom: 20px;
            background-color: none;
        }
        #footerlinks a 
        {
            color: black;
        }
        #footerlinks{
            display: none;
            
        }
        #footerlinks a:hover 
        {
            color: white;
            transition: 0.3s;
        }
        #theme
        {
            background-color: #00173F;
            padding-left: 1rem;
            padding-bottom: 5px;
        }
        #selstylesheet {
            position: absolute;
            top: 30px;
            right: 10px;
        }

        /* Table and Desktop Styles */
        /* Use media queries to detect browser window size */

            @media screen and (min-width:321px)
            {
                #career{
                    background-color: #003276;
                }
            }
            @media screen and (min-width:480px)
            {
                #career{
                    background-color: #003276;
                }
            }
            @media screen and (min-width:768px)
            {
                #career{
                    background-color: #003276;
                }
                #footerlinks
                { display: block;
                }
                #flexsubfooter
                {
                    display: flex;
                    justify-content: space-between;
                }

                @media screen and (min-width:1024px)
            {
                #career{
                    background-color: #003276;
                }
                #logo
                { 
                    left :25px;
                }
            }

            @media screen and (min-width:1200px)
            {
                #career{
                    background-color: #003276;
                }
                #logo{
                    left :25px; 
                }
                #media {
                    height: 600px;
                }
            }

            }